{% extends 'core/base.html' %}

{% load static %}
{% block xtracss %}
<link rel="stylesheet" href="{% static 'core/css/contact.css' %}">
{% endblock xtracss %}


{% block content %} 

<div class="container mt-5">
    <h1 class=" mb-5 border-bottom text-capitalize text-warning">contact</h1>
    <div class="formstyle">
 
    <div class="row">
         <div class="col-8">
               <dic class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput " class="text-capitalize">first Name</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput " class="text-capitalize">last name</label>
                        </div>
                    </div>
               </dic>
                <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" class="text-capitalize">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2 " class="text-capitalize">message</label>
                </div>
              <div class="text-end"> <a href="#" class="btn btn-warning " tabindex="-1" role="button" aria-disabled="true">Contact me!</a></div>

         </div>
         <div class="col-4">
         </div>
      </div>
    </div>
    
    </div>
</div>

{% endblock content %}
