{%extends 'core/base.html'%}
{% load static %}
{% block content %}
  
  <div class=" mt-5">
    <div class="text-center"> <img src="{% static "core/img/pic1.jpg" %}" alt="My profile pic" class="img-thumbnail " style="width:250px; height:250px;" ></div>
      <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="fw-bold st-font">Hello,</h1>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px;">
                Hi I am <b class="text-warning">Simran Pradhan</b> , ipsum dolor sit amet consectetur adipisicing elit. Nostrum asperiores officia, voluptas veniam odio veritatis quam excepturi explicabo? Sint, minus?
            </p>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores doloremque aut labore similique rerum a cum consequuntur maiores sequi numquam molestias sunt, nisi eveniet dolorem aperiam modi, fugiat, excepturi blanditiis totam iusto laudantium dicta! Quo quasi vero nostrum doloribus minima id! Quia voluptatem iure eum dolore aliquid magnam dolorem odio.
            </p>
            <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae soluta dignissimos suscipit doloremque laboriosam corrupti illum tenetur facere odit ad nihil asperiores, itaque accusantium similique, eum, alias quo neque voluptates vero praesentium dolores. Quaerat, atque?
            </p>
        </div>
    </div>
   <div class="text-center">
        <a href="" class="btn btn-outline-warning my-2 me-5">Hire me</a>
        <a href="" class="btn btn-outline-info my-2">Contact</a>
   </div>
  </div>
  
{%endblock content %}