{% extends 'core/base.html' %} 
{% load static %}

{% block xtracss %}
<style> html,body{overflow: hidden;}  </style>
{% endblock xtracss %}

{% block content %}
   
<div class="container mt-5">
    <h1 class=" mb-5 border-bottom text-warning">Services</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
           <i class="fas fa-search-dollar  fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">SEO</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-sm-4">
          <i class="fas fa-palette  fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">web design</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="col-sm-4">
          <i class="fas fa-code fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">web development</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
           <i class="fab fa-android  fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">android</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-sm-4">
          <i class="fab fa-apple  fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">apple</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="col-sm-4">
          <i class="fas fa-ad fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">advertising</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
           <i class="fas fa-pencil-alt fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">logo design</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-sm-4">
          <i class="fas fa-database  fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">hosting</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="col-sm-4">
          <i class="fas fa-headset fa-2x mb-3 icolor"></i>
            <h3 class="text-capitalize">support</h3>
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

    </div>
</div>
{% endblock content %}
