html{
    height: auto;
}
body{
    height: 100% ;
     overflow-y: hidden;  
    background-color: #212529;
}
.st-font{
    font-family: 'Dancing Script', cursive;
}

.container-fluid,.container-fluid>.row{
    height: inherit;
    
}

.container{
    width: 93%;
}
/* service icon color */
.icolor{
    color:chartreuse;
}
/* service subtitle color */
.ss-color{
    color: silver;
}
a.nav-link{
    color: whitesmoke;
}
.highlight a.nav-link:hover{
    color: black;
    background-color: darkgoldenrod;
}
.highlight a.nav-link.active{
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}
@media only screen and (max-width:1300px) {
    body{
        overflow-y: visible;
    }
    .container-fluid,.container-fluid>.row{
        height:auto;
       
    }
}
@media only screen and (max-width: 800px) {
   
    .container{
        width: 100%;
    }
    .container-fluid,.container-fluid>.row{
        height:auto;
       
    }
    .container-fluid>.row{
        display: flex;
        flex-direction: column;
    }
    .container-fluid .row .col-sm-2,.container-fluid .row .col-sm-10{
      width: auto;
    }
    .border-end {
        border-right: none;
    }
}